apiVersion: v1
kind: Namespace
metadata:
  name: dev

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: page1
  namespace: dev
data:
  index.html: "<h1>Page 1</h1>"

---

apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: dev
spec:
  type: NodePort
  selector:
    app: app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30100

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: dev
spec:
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html/index.html
          subPath: index.html
      volumes:
      - name: html
        configMap:
          name: page1
