#--------------------------------------------------------IMAGE
apiVersion: v1
kind: Namespace
metadata:
  name: dev

---

apiVersion: v1
kind: Service
metadata:
  name: dev-net
  namespace: dev
spec:
  type: ClusterIP
  selector:
    app: app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8888

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: dev
spec:
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: wil42/playground:v1
          ports:
            - containerPort: 80
