#--------------------------------------------------------IMAGE
apiVersion: v1
kind: Namespace
metadata:
  name: dev

---

apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: dev
spec:
  type: NodePort
  selector:
    app: app
  ports:
  - protocol: TCP
    port: 8888
    targetPort: 8888
    nodePort: 30100

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: dev
spec:
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: wil42/playground:v1
          ports:
            - containerPort: 8888

---
#--------------------------------------------------------ARGO CD
